# Пример файла .env для Book Shelf

# Токен Telegram-бота
# Получите его у @BotFather в Telegram
BOT_TOKEN=your_telegram_bot_token_here

VK_BOT_TOKEN=your_vk_bot_token_here

# Директория для хранения данных
DATA_DIR=data

# Режим отладки
DEBUG=false
